<!DOCTYPE html>
<html>
    <head>
        <title>INDEX PAGE</title>
    </head>
    <body>
        {{!-- {{>header}} --}}
        <h3>Hello World using HBS views engine.</h3>
        <h3>Hello, {{userName}} This is body part of page.</h3>
        {{!-- {{>footer}} --}}
    </body>
</html>