<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    {{>header}}
    <h3><i>This is Home Page(body part) of template directory.</i></h3>
    <h2>you write in url is : {{name}} and age is : {{age}}</h2>
    {{>footer}}
</body>
</html>