<!DOCTYPE html>
<html>
    <head>
        <title>INDEX PAGE</title>
    </head>
    <body>
        {{>header}}
        <h3><i>Hello World using HBS template engine.</i></h3>
        <h2><i>Hello, {{userName}}</i></h2>
        {{>footer}}
    </body>
</html>